* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home{
    min-height: 100vh;
    display: flex;
    background-size: cover;
    background-image: url("img/menu.jpg")
}

.my-grid-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
}

.my-gird{
    grid-column: 2;
}
.menu-text{
    font-family: 'Fredericka the Great', cursive;
    color: antiquewhite;
    font-size: 5rem;
    margin-bottom: 2rem;
}

h3 {
    color: aliceblue;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

i{
    margin-left: 0.5rem;
}

.home-table{
    opacity: 70%;
}

.home-table th,td{
    font-family: 'Caveat', cursive;
    font-size: 1.6rem;
}